.Game {
  display: inline-block;
}

.Board {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.Square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 56px;
  font-weight: bold;
  width: 75px;
  height: 75px;
  line-height: 75px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.Square:focus {
  /* Prevent items from overlapping the outline */
  position: relative;
}

.Stats {
  display: flex;
  justify-content: space-between;
}

.Stats-stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.Stats.Stats--playerX .Stats-ties,
.Stats.Stats--playerX .Stats-playerO {
  opacity: 0.5;
}

.Stats.Stats--playerO .Stats-playerX,
.Stats.Stats--playerO .Stats-ties {
  opacity: 0.5;
}
