.Weather-icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.Weather-refresh {
  font-size: 1.5rem;
}

[data-reach-dialog-content] .Weather {
  margin: -1rem;
  padding: 1rem;
  /* https://webgradients.com/ */
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.Weather-detail:first-of-type {
  margin-top: 1rem;
}

.Weather-detail:last-of-type {
  margin-bottom: 1rem;
}

.Weather-detail svg {
  margin-right: 1rem;
}

.Weather footer {
  font-size: 0.75rem;
  color: #666;
  text-align: center;
}
